body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bd5d03;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #bd5d03;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

section#home img {
    width: 30%; /* Make the image take up the full width of its container */
    max-width: 600px; /* Limit the maximum width of the image */
    height: auto; /* Maintain the aspect ratio when resizing */
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally within its container */
}