body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

section#order {
    padding: 20px;
}

header {
    background: linear-gradient(to right, #5271ff, #7890fa);
    color: #ffffff;
    padding: 1px; /* Adjust the padding values as needed */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/* Combined Footer Styles */
footer {
    background: linear-gradient(to right, #ff0800, #f04040);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    display: inline-block;
    padding: 3px 10px;
    margin: 0px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 100px;
}

nav a:hover {
    background-color: #fff;
    color: #5271ff;
}

/* Section Styles */
section {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

section#home {
    background-color: #ffffff;
}

section#order {
    background-color: #ececec;
}
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-container {
    display: inline-block;
    background-color: #5271ff;
    padding: 10px;
    border-radius: 10px;
}

.selfie {
    display: block;
    margin: 0 auto;
}





